.App {
  text-align: center;
  background-color: #E6E6FA;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-rotate90 {
  transform: rotate(-90deg);
}

.App-link {
  color: #61dafb;
}

.style-green {
	background: #90EE90;
}

.style-gray {
	font-size: 0.7em;	
}

.style-version {
	font-size: 1.3em;
}

td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

.style-blink {
	animation: style-blink 4s infinite; /* Параметры анимации */
}
@keyframes style-blink {
	from { opacity: 1; /* Непрозрачный текст */ }
	to { opacity: 0.9; /* Прозрачный текст */ }
}


